html {
    font-family: sans-serif;
}

.mainDiv {
    width: 100%;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    flex-direction: column;
}

.result {
    color: red;
}

.message {
    font-weight: 500;
}

.message,
.result {
    font-size: 2rem;
    margin: 10px;
    text-align: center;
}

textarea[placeholder] {
    font-size: 2rem;
    margin: 10px;
}

.btn {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    outline: none;
}

@media (max-width: 800px) {
    textarea {
        width: 100%;
    }

    .message,

    .result {
        font-size: 1.2rem;
    }

    textarea[placeholder] {
        font-size: 1.2rem;
        margin: 10px;
    }

    .btn {
        font-size: 1.2rem;
        padding: 5px 15px;
    }
}